$fontColor: #546;
$bgColor: #fff;

body {
    background-color: $bgColor;
    color: $fontColor;
}

p {
    background-color: $fontColor;
    color: $bgColor;
}

// Variables con diferentes tipos: numbers, string, boolean
// y propiedades separadas por coma.

$styles: 10px 20px, 'Arial', 50%;
$boolean: true;



articule.art {
    h2 {
        font-style: italic;
        font-size: 4rem;
    }
    p {
        background-color: #fff;
        color: blueviolet;
    }
}